* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

body {
	font-family: "微软雅黑";
	font: 14px/50px "微软雅黑";
	background: url("../img/bj.jpg")no-repeat top center;
	background-attachment: fixed;
	color: #fff;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

.register {
	width: 600px;
	height: 530px;
	background: rgba(190, 190, 190, 0.5);
	margin: 30px auto;
	transform-style: preserve-3D;
	-webkit-transform-style: preserve-3D;
	-webkit-transform: rotateX(50deg) rotateZ(-30deg);
	-moz-transform: rotateX(50deg) rotateZ(-30deg);
	-o-transform: rotateX(50deg) rotateZ(-30deg);
	transition: all 2s;
	-webkit-transition: all 2s;
	position: relative;
}

.register:hover {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}

.register .r_content {
	width: 600px;
	height: 600px;
	padding: 15px 0;
}

.r_content:before,
.r_content:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(250, 250, 250, 0.6)
}

.r_content:before {
	transform-origin: left center;
	-webkit-transform-origin: left center;
	transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg);
	width: 25px;
}

.r_content:after {
	top: auto;
	left: 0px;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	height: 25px;
}

.register .r_content h1 {
	margin-left: 215px;
	font-size: 26px;
	font-weight: 600;
}

.register .r_content dl {
	height: 50px;
	line-height: 50px;
	margin: 10px 0px;
}

.register .r_content dt {
	width: 180px;
	text-align: right;
	float: left;
}

.register .r_content dd {
	width: 320px;
	float: left;
}

input {
	margin-left: 10px;
	width: 320px;
	height: 20px;
	padding: 5px;
	border: 1px solid #fff;
	background: #fff;
	font-family: "微软雅黑";
}

a.hov:hover{cursor: pointer;}

input[type="submit"] {
	width: 332px;
	height: 40px;
	border: 4px solid #fff;
	background: #28B999;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
	transition: all 500ms;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #28B559;
	color: #222;
}

input:focus {
	outline: 4px solid #007fff;
}

.indexmap {
	display: inline-block;
	font-size: 12px;
	padding-left: 10px;
	font-weight: 400;
}

.l_welcome {
	height: 20px;
	color: #ccc;
	font-size: 14px;
	text-align: center;
	margin-top: 220px;
}

.l_qqun {
	display: inline-block;
	vertical-align: middle
}

.l_copy {
	width: 100%;
	margin-top: 10px;
}

.l_copy .c_text {
	display: block;
	color: #ccc;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
}

.ret_login{margin-left:70%;width:100px;height: 50px;}
.ret_login a{color: #bbb;display: block;transition: all 1s ease-in-out;}
.ret_login a:hover{color: #fff;transform: scale(1.2);}

